<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/login.css">
	<title>Document</title>
</head>
<body>
	<section id="1">
		<section id="imgLogin">
			<div class="img"></div>
		</section>
		<section id="dataForm">
			<form action="" id="fLogin">
				<div class="title"></div>
				<div class="user">
					<label>Usuario</label>
					<input type="text" id="impUser">
				</div>
				<div id="pass">
					<label>Contraseña</label>
					<input type="text" placeholder="" id="impPass">
				</div>

				<input type="submit" value="Entrar" id="next">
				
			</form>
		</section>
	</section>	
</body>
</html>